
<div id="container" class="container-fluid m-0 p-0 h-100 bg-dark">

  <nav class="navbar fixed-top navbar-light d-flex justify-content-end">
    <form class="form-inline">
      <a id="signin" class="btn btn-outline-light mx-1" href="/users/auth" role="button">Sign in</button>
      {{!-- <button class="signup-btn btn btn-success mx-1" type="button"><strong>Get started</strong></button> --}}
      <a class="btn btn-success mx-1" href="/users/auth" role="button"><strong>Get started</strong></a>
    </form>
  </nav>

  <div id="welcome">
    <header class="text-center">
      {{!-- <img src="/images/fox.png" alt="foxcoin" width="36px" height="36px"> --}}
      <h1 class="display-4">Welcome to FoxWallet</h1>
      <em class="text-center">Let create your account</em>
    </header>
    <form action="/users/auth" method="GET">
      <div class="d-flex mt-3">
        <input type="email" id="email-input" class="text-input" name="email" placeholder="Enter your email here"><br>
        <button class="signup-btn btn btn-success mx-2"><strong>Get started</strong></button>
      </div>
    </form>
  </div>

</div>

{{!-- <script src="javascripts/index.js"></script> --}}