* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tab-button {
  flex: 1;
  padding: 15px 0px;
  border: none;
  background-color: transparent;
  color: #dddddd;
}

.active-tab {
  border-bottom: 2px solid #40739e;
  color: white;
}
.active-form {
  visibility: visible;
}

.vertical-separator {
  border-left: .5px solid #222222;
}

.opacity-bg {
  background-color: rgba(27, 27, 50, 0.8);
}

.auth-card {
  border-radius: 8px;
  transition: all .3s ease;
}

.form-container {
  padding: 25px 35px;
}

.full-width {
  width: 100%;
}

.no-border, .no-border:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}

.text-gray {
  color: #dddddd;
}

.info {
  flex: 1;
  overflow: hidden;
}

.sidebar-button,
.sidebar-button:link {
  color: #999;
  display: block;
  text-decoration: none;
  transition: all .3s ease;
}

.sidebar-button:hover {
  color: #eee;
}

.active-side-bar {
  color: #555;
  /* background-color: #eee; */
}

.button {
  border: 1px solid lightgray;
  background-color: white;
  padding: 12px 18px;
  border-radius: 5px;
  transition: all .3s ease;
  color: #6c5ce7;
  font-weight: bold;
}

.button:hover {
  border-color: #6c5ce7;
}

table {
  table-layout: fixed;
}

th, td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* color: red; */
}

a.custom-color {
  color: #5f51c9;
}

a.custom-color:hover {
  color: #5f51c9
}

.page-item.active .page-link {
  color: white !important;
  background-color: #4c3fb1 !important;
  border: none !important;
  /* font-size: 15px !important; */
}
.page-link {
  color: #4c3fb1 !important;
  font-size: 13px !important;
}

.small-text {
  font-size: 15px;
}

.block-data-row {
  border-bottom: .5px solid rgb(235, 235, 235);
  padding: 10px 0px;
  font-size: 15px;
}

.hover-gray-background {
  transition: .1s all ease;
}
.hover-gray-background:hover {
  background-color: rgb(240, 242, 247);
}

.light-border-bottom {
  border-bottom: .5px solid #eee;
}