<div class="container-lg p-0">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: rgb(18, 29, 51);">
    <div class="container p-0">
      <a class="navbar-brand" href="/wallet">
        <img src="/images/fox_icon.png" class="rounded-circle" width="40" height="40" alt="foxicon">
        &nbsp;&nbsp;<strong class="text-white">FOX</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-center" style="flex: 1">
          <li class="nav-item mx-2">
            <a class="nav-link px-1" href="/wallet">
              <h6 style="font-size: 1em; color: #999"><strong>Wallet</strong></h6> <span
                class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link pb-0 px-1" href="/explorer"
              style="border-bottom: 2px solid #8c7ae6; border-radius: 5px;">
              <h6 style="color: #eee; font-size: 1em;"><strong>Explorer</strong></h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main style="padding-top: 120px; padding-bottom: 50px">
    <section id="block-intro">
      <header>
        <h4 style="color: #333">
          <i class="far fa-id-badge"></i>
          <strong>Address</strong>
        </h4>
      </header>
      <div class="mt-3">
        <div class="small-text">This address has transacted <span id="summary-total-transaction"></span> times on the Foxcoin blockchain.</div>
        <div class="small-text">It has received a total of <span id="summary-total-received"></span> FXC and has sent a total of <span id="summary-total-sent"></span> FXC.</div>
        <div class="small-text">The current value of this address is <span id="summary-balance"></span> FXC.</div>
      </div>
    </section>

    <section id="block-detail" class="mb-5 mt-4">
      <div>
        <ul style="list-style-type: none;" class="p-0">
          <li class="data-row d-flex block-data-row">
            <div style="flex: 1">Address</div>
            <div style="flex: 2" id="address" class="text-nowrap text-truncate"></div>
          </li>
          <li class="data-row d-flex block-data-row">
            <div style="flex: 1">Transactions</div>
            <div style="flex: 2" id="transactions"></div>
          </li>
          <li class="data-row d-flex block-data-row">
            <div style="flex: 1">Total Received</div>
            <div style="flex: 2" id="total-received"></div>
          </li>
          <li class="data-row d-flex block-data-row">
            <div style="flex: 1">Total Sent</div>
            <div style="flex: 2" id="total-sent" class="text-nowrap text-truncate"></div>
          </li>
          <li class="data-row d-flex block-data-row">
            <div style="flex: 1">Final Balance</div>
            <div style="flex: 2" id="final-balance"></div>
          </li>
        </ul>
      </div>
    </section>

    <section id="block-transactions">
      <header>
        <h4 class="d-flex align-items-center" style="color: #333">
          <img src="/images/transaction_icon.png" alt="transaction_icon.png">
          &nbsp;<strong>Transactions</strong>
        </h4>
      </header>
      <div class="my-4">
        <ul style="list-style-type: none;" class="p-0" id="transaction-list">
          {{!-- load transaction data here --}}
        </ul>
      </div>
    </section>
  </main>
</div>

<script>
  const PORT = 3000;
  function getAddressInfo(address) {
    $.ajax({
      url: `http://localhost:${PORT}/api/users/address/${address}`,
      type: 'GET'
    }).done(data => {
      console.log(data);

      $('#summary-total-transaction').text(data.txOfAddress.length);
      $('#summary-total-received').text(data.totalReceived);
      $('#summary-total-sent').text(data.totalSent);
      $('#summary-balance').text(data.finalBalance);

      $('#address').text(data.publicKey);
      $('#transactions').text(data.txOfAddress.length);
      $('#total-received').text(data.totalReceived);
      $('#total-sent').text(data.totalSent);
      $('#final-balance').text(data.finalBalance);

      

      // Show all transacted history
      const txOfAddress = data.txOfAddress;
      let listElement = "";
      for (const tx of txOfAddress) {
        if (tx.txIns[0].signature === "") {
          listElement += createCoinbaseLiElement(tx);
        } else {
          listElement += createTransactionElement(tx, address, data.allTxInputDetail);
        }
      }
      $('#transaction-list').html(listElement);
    });
  }

  function createCoinbaseLiElement(coinbaseTx) {
    if(coinbaseTx.txIns[0].txOutId) {
      return `<li class="d-flex px-3 py-4 hover-gray-background light-border-bottom">
            <div style="flex: 10" class="d-flex pr-4 small-text text-nowrap text-truncate">
              <div class="mr-5">Hash</div>
              <div class="text-nowrap text-truncate">
                <a
                  href="/explorer/transaction/${coinbaseTx.id}">${coinbaseTx.id}</a>
                <p class="mt-3 font-weight-bold" style="color: #00875a">SIGNUP REWARD (Newly Generated Coins)</p>
              </div>
            </div>

            <div style="flex: 1" class="d-flex justify-content-center align-items-center">
              <img src="/images/right-arrow.png" alt="right-arrow.png">
            </div>

            <div style="flex: 10" class="d-flex pl-4 small-text text-nowrap text-truncate">
              <div class="text-nowrap text-truncate mr-3">
                ${coinbaseTx.txOuts[0].address}
              </div>
              <div>${coinbaseTx.txOuts[0].amount} FXC</div>
            </div>
          </li>`;
    }
    return `<li class="d-flex px-3 py-4 hover-gray-background light-border-bottom">
            <div style="flex: 10" class="d-flex pr-4 small-text text-nowrap text-truncate">
              <div class="mr-5">Hash</div>
              <div class="text-nowrap text-truncate">
                <a
                  href="/explorer/transaction/${coinbaseTx.id}">${coinbaseTx.id}</a>
                <p class="mt-3 font-weight-bold" style="color: #00875a">COINBASE (Newly Generated Coins)</p>
              </div>
            </div>

            <div style="flex: 1" class="d-flex justify-content-center align-items-center">
              <img src="/images/right-arrow.png" alt="right-arrow.png">
            </div>

            <div style="flex: 10" class="d-flex pl-4 small-text text-nowrap text-truncate">
              <div class="text-nowrap text-truncate mr-3">
                ${coinbaseTx.txOuts[0].address}
              </div>
              <div>${coinbaseTx.txOuts[0].amount} FXC</div>
            </div>
          </li>`;
  }

  function createTransactionInputElement(txIn, allTxInputDetail, address) {
    let ret = "";
    const result = allTxInputDetail.find(
      uTxO => uTxO.txOutId === txIn.txOutId && uTxO.txOutIndex === txIn.txOutIndex);
    if (result) {
      if (result.address === address) {
        ret = `<div class="d-flex small-text text-nowrap text-truncate transaction-In">
              <div class="text-nowrap text-truncate mr-3">
                ${result.address}
              </div>
              <div>${result.amount} FXC</div>
            </div>`;
      } else {
        ret = `<div class="d-flex small-text text-nowrap text-truncate transaction-In">
              <div class="text-nowrap text-truncate mr-3">
                <a href="/explorer/address/${result.address}">${result.address}</a>
              </div>
              <div>${result.amount} FXC</div>
            </div>`;
      }
    }
    return ret;
  }

  function createTransactionOutputElement(txOut, address) {
    if (txOut.address === address) {
      return `<div class="transaction-out d-flex">
              <div class="text-nowrap text-truncate mr-3">
                ${txOut.address}
              </div>
              <div>${txOut.amount} FXC</div>
            </div>`;
    }
    return `<div class="transaction-out d-flex">
              <div class="text-nowrap text-truncate mr-3">
                <a href="/explorer/address/${txOut.address}">${txOut.address}</a>
              </div>
              <div>${txOut.amount} FXC</div>
            </div>`;
  }

  function createTransactionElement(transaction, address, allTxInputDetail) {
    let txInElements = "";
    for (const txIn of transaction.txIns) {
      txInElements += createTransactionInputElement(txIn, allTxInputDetail, address);
    }

    let txOutElements = "";
    for (const txOut of transaction.txOuts) {
      txOutElements += createTransactionOutputElement(txOut, address);
    }

    return `<li class="d-flex px-3 py-4 hover-gray-background light-border-bottom">
            <div style="flex: 10" class="d-flex pr-4 small-text text-nowrap text-truncate">
              <div class="mr-5">Hash</div>
              <div class="text-nowrap text-truncate">
                <a class="transaction-hash"
                  href="/explorer/transaction/${transaction.id}">${transaction.id}</a>
                <div class="mt-2 transaction-Ins">
                  ${txInElements}
                </div>
              </div>
            </div>

            <div style="flex: 1" class="d-flex justify-content-center align-items-center">
              <img src="/images/right-arrow.png" alt="right-arrow.png">
            </div>

            <div style="flex: 10" class="pl-4 small-text text-nowrap text-truncate">
              ${txOutElements}
            </div>
          </li>`;
  }

  $(document).ready(function () {
    const currLocation = window.location.href;
    const str = currLocation.split('/');
    const address = str[str.length - 1];
    console.log('Public key: ' + address);

    getAddressInfo(address);
  })
</script>